{% extends 'base.html.twig' %}

{% block title %}Query Product{% endblock %}

{% block body %}
<div class="container">
    <div class="row mb-2">
        <h2>Warehouse Layout</h2>
        <img src="../warehouseLayout.png" class="img-fluid"></img>
    </div>

    <div class="row mb-2">
        <h2>Query Product</h2>
        <div class="col">
            {% form_theme form with ['bootstrap_4_layout.html.twig'] only %}
            {{ form_start(form, {'attr': {'class': 'mb-3'}}) }}
            <div class="mb-1">{{ form_row(form.id) }}</div>
            {{ form_rest(form) }}
            <button type="submit" id="submit" class="btn-primary btn">Search</button>
            {{ form_end(form) }}
        </div>
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" colspan="2">{{ product.0.name }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Bin Location</th>
                        <td>
                            {{ product.0.bin_location }}
                        </td>
                    </tr>
                    <tr>
                        <th>Stock Level</th>
                        <td>
                            {{ product.0.stock_level }}
                        </td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>
                            {{ product.0.description }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
