{% extends 'base.html.twig' %}

{% block title %}Route Picker{% endblock %}

{% block body %}
<div class="container">
    <div class="row mb-2">
        <h2>Warehouse Layout</h2>
        <img src="../warehouseLayout.png" class="img-fluid"></img>
    </div>

    <div class="row mb-2">
        <h2>Pick Route</h2>
        <div class="col">
            {% form_theme form with ['bootstrap_4_layout.html.twig'] only %}
            {{ form_start(form, {'attr': {'class': 'mb-3'}}) }}
            <div class="mb-1">{{ form_row(form.item1Id) }}</div>
            <div class="mb-1">{{ form_row(form.item2Id) }}</div>
            <div class="mb-1">{{ form_row(form.item3Id) }}</div>
            <div class="mb-1">{{ form_row(form.item4Id) }}</div>
            <div class="mb-1">{{ form_row(form.item5Id) }}</div>
            {{ form_rest(form) }}
            <button type="submit" id="submit" class="btn-primary btn">Pick Route</button>
            {{ form_end(form) }}
        </div>
        <div class="col">
            {# Ideally generate rows via a for statement #}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center" colspan="2">Optinal Route</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Starting Location</th>
                        <td>
                            {{ startStation }}
                        </td>
                    </tr>
                    <tr>
                        <th>First Item</th>
                        <td>
                            {{ orderedBins.0 }}
                        </td>
                    </tr>
                    <tr>
                        <th>Second Item</th>
                        <td>
                            {{ orderedBins.1 }}
                        </td>
                    </tr>
                    <tr>
                        <th>Third Item</th>
                        <td>
                            {{ orderedBins.2 }}
                        </td>
                    </tr>
                    <tr>
                        <th>Fourth Item</th>
                        <td>
                            {{ orderedBins.3 }}
                        </td>
                    </tr>
                    <tr>
                        <th>Fith Item</th>
                        <td>
                            {{ orderedBins.4 }}
                        </td>
                    </tr>
                    <tr>
                        <th>End Location</th>
                        <td>
                            {{ endStation }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
