<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Warehouse Developer Task{% endblock %}</title>

        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="{{ path('warehouseHome') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Warehouse Developer Task</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ path('warehouseHome') }}" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="{{ path('queryProduct') }}" class="nav-link">Query Product</a></li>
                {# coming soon #}
                <li class="nav-item"><a href="{{ path('routePicker') }}" class="nav-link">Query Route</a></li>
            </ul>
        </header>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>