{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">
    <p>
        See below the brief for the task at hand
    <p>
    <iframe src="Warehouse Test.pdf" width="100%" style="height:100%"></iframe>
</div>
{% endblock %}
